<div class="max-w-lg mx-auto mt-16 text-center max-w-sm 
<div class="max-w-sm rounded overflow-hidden shadow-lg">
   <%=image_tag("logo.png")%>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">Wellcome ! </div>
    <p class="text-gray-700 text-base">
      You are about to explore the custom character sheet creator.
      Just hit the butoon below and your journey will start.
    </p>
  </div>
  <div class="px-6 pt-4 pb-2">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
	  <%= link_to 'Let`s get started'%>
</button>
</div>
